/* --- FOOTER: Estructura y Estética --- */
.footer {
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: transparent;
  padding: 0;
  text-align: center;
  letter-spacing: 0.06rem;

  &__tatami {
    background-color: $tatami-paja;
    z-index: 8;
    padding: 3rem 1rem;
    text-align: center;
    letter-spacing: 0.06rem;

    background-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, transparent 40%),
      // Efecto de textura de paja
      repeating-linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0.08) 0,
          rgba(0, 0, 0, 0.05) 0.1875rem,
          transparent 0.125rem,
          transparent 0.375rem
        );

    transform: perspective(20rem) rotateX(8deg) scaleX(1.15);
    transform-origin: top center;
    box-shadow: $sombra-inner;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: flex-end;
  }

  &__copy {
    color: darken($color-green, 15%);
    font-size: 0.9rem;
    font-weight: bold;
  }

  &__link {
    color: darken($color-green, 15%);
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
      color: $color-red;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
}

/* --- MEDIA QUERIES (TABLET) --- */
@media (min-width: $breakpoint-tablet) {
  .footer {
    padding-top: 3rem;

    &__tatami {
      margin-top: -3rem;
    }

    &__container {
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      max-width: 50rem;
      padding: 0 4rem;
    }
  }
}
