/* VARIABLES GLOBALES (CONFIGURACIÓN)*/

/* --- BREAKPOINTS (Diseño Responsivo) --- */
$breakpoint-tablet: 48rem; // 768px
$breakpoint-desktop: 75rem; // 1200px

/* --- PALETA DE COLORES --- */

/* --- colores temáticos --- */
$header-brown: #eebb6e;
$color-cream-dark: #f3d4a6;
$color-water: #a8d5e2;
$color-red: #c0392b;
$color-sakura: #fec5e5;
$color-stone: #8a8a8a;
$color-wall: #f8e2c1;

$tatami-straw: #d8c28f;
$tatami-border: #222222;

/* --- TIPOGRAFÍA --- */
$text-color: #333333;
$text-color-green: #196933;
$text-color-dark-green: #1b4e1b;
$text-modal-btn: #cc1845;
$font-japanese: "Yuji Syuku", serif;
$font-body: "Lora", serif;

/* --- ESTÉTICA DE PIEDRA --- */
$stone-gradient: radial-gradient(circle at 30% 30%, #a8a8a8, #696969);
$stone-border: 0.1rem solid rgba(0, 0, 0, 0.1);

/* --- ESTÉTICA FLORES --- */
$flower-stem: linear-gradient(to bottom, #8fbe7c, #2e402e);
$flower-leaf: #5d7d50;

$flower-petals-central: #f2a2b1;
$flower-petals-inner: #fae3e9;
$flower-petals-medium: #eb6383;
$flower-petals-outer: #c84b6b;

/* --- ESTÉTICA CUADROS --- */
$color-wood: #663716;
$color-paper: #f7eecc;
$base-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

/* --- SOMBRAS --- */
// Neutras
$shadow-soft: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
$shadow-strong: 0 0.625rem 0.9375rem rgba(0, 0, 0, 0.4);
$sombra-inner: inset 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
// piedras
$shadow-stone:
  inset -0.25rem -0.25rem 0.5rem rgba(0, 0, 0, 0.4),
  0.25rem 0.5rem 0.9375rem rgba(0, 0, 0, 0.3);
