.roots {
  position: relative;
  min-height: auto;
  height: auto;
  overflow: hidden;

  padding: 0 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  font-family: $font-body;
  color: $text-color;

  background-image: url("/src/images/design/background-movil.png");
  background-position: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: linear-gradient(to bottom, $color-water 0%, transparent 100%);
    z-index: 1;
    pointer-events: none;
  }

  /*  TÍTULO  */
  &__container {
    align-self: center;
    margin-top: 2rem;
    max-width: 100%;
  }

  &__main-title {
    font-family: $font-japanese;
    font-size: 3rem;
    color: $color-red;
    text-align: center;
    line-height: 1;
  }

  &__title {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    color: $text-color-dark-green;
    font-weight: bold;
    opacity: 0.8;
  }

  /* HISTORIA  */
  &__story {
    display: flex;
    flex-direction: column;
    margin-top: 1.9rem;
  }

  &__text {
    font-weight: bolder;
    max-width: 65%;
    line-height: 1.6;
    opacity: 1;

    backdrop-filter: blur(0.1rem);
    padding: 0.5rem;

    /* Posicionamiento por bloques */
    &--right {
      align-self: flex-end;
      text-align: right;
    }

    &--left {
      text-align: left;
    }

    &--center {
      align-self: center;
      text-align: center;
      max-width: 22rem;
      font-weight: 700;
    }

    .roots__cv-link {
      color: $text-color-dark-green;
      font-weight: bold;
      text-decoration: underline;
    }

    .roots__cv-link:hover {
      color: $color-red;
    }
  }
}

/* --- MEDIA QUERIES (TABLET) --- */
@media (min-width: $breakpoint-tablet) {
  .roots {
    background-image: url("/src/images/design/roots-background.png");
    background-attachment: fixed;

    &__layers {
      display: none;
    }

    &__container {
      max-width: 80%;
    }

    &__main-title {
      font-size: 4.5rem;
    }

    &__title {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    &__story {
      margin-top: 1rem;
    }

    &__text {
      max-width: 35rem;
      margin-bottom: 3rem;
      font-size: 1.25rem;

      &--right {
        align-self: flex-end;
        text-align: right;
        margin-top: 0;
      }
      &--left {
        align-self: flex-start;
        margin-top: 0;
      }

      &--center {
        align-self: center;
        text-align: center;
        padding: 0;
        margin-top: 0.5rem;
      }
    }
  }
}

/* --- MEDIA QUERIES (DESKTOP) --- */
@media (min-width: $breakpoint-desktop) {
  .roots {
    &__container {
      margin-left: 4rem;
      margin-top: 3rem;
    }

    &__main-title {
      font-size: 6rem;
    }
    &__story {
      padding: 0 15rem;
    }
    &__text {
      font-size: 1.25rem;
      max-width: 40rem;
    }
  }
}
