/* --- ESTILOS EXCLUSIVOS DEL BOTÓN TOP --- */

.top-btn {
  position: fixed;
  bottom: 6rem;
  right: 1.5rem;
  z-index: 99;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: $header-brown;
  border: 0.2rem solid darken($color-red, 5%);
  box-shadow: $shadow-strong;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: $base-transition;

  &:hover {
    transform: scale(1.1);
    filter: brightness(1.1);
  }

  &__arrow {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    color: $color-red;
    display: inline-block;
    transform: rotate(-90deg);
  }
}

/* --- MEDIA QUERIES (TABLET) --- */
@media (min-width: $breakpoint-tablet) {
  .top-btn {
    right: 3rem;
    width: 4rem;
    height: 4rem;

    &__arrow {
      font-size: 1.9rem;
    }
  }
}
